.card {
   background-color: rgba(254, 255, 252, 0.729);
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
   overflow: hidden;
   padding: 10px;   margin-bottom: 20px;
   border-radius: 1.5rem;
   transition: transform 0.3s ease, box-shadow 0.3s ease;
 }
 
 .card:hover {
   transform: translateY(-5px);
   box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
 }
 
 .card-image {
   width: 100%;
   height: 250px;
   object-fit: cover;
   border-radius: 1rem;
 }
 
 .card-content {
  font-family: "Space Grotesk", sans-serif;
   padding: 1rem;
 }
 
 .card-title {
    font-size: 1.25rem;
    margin: 0 0 10px;
   }
   
   .card-description {
      padding-left: 10px;
      border-radius: 10px;
      font-size: 1rem;
      background-color: #f0f0f0;
   color: #555;
 }
 